# Docker files
Dockerfile
.dockerignore
docker-compose.yml
.config

# Git repository files
.git
.gitignore

# Python cache files
__pycache__/
*.pyc
*.pyo

# Local environments (these should never be copied)
venv/
.venv/
env/

# Conda cache
.conda/

# IDE configuration
.vscode/
.idea/